<section class="blackhat">
    <center><h1>EASTERN AMERICA IS DANGEROUS!!!</h1></center>
    <br>
    <center><img src="../img/blackhat.png" width="800"></center>
    <br>
    <h3>About Visualization</h3>
    <p align = "justify" class="data-viz__text-desc">The Visualization displays the locations of gun deaths on a map of US states and cities. The data used in the Visualization is of the year 2013 - 2014</p>
    <p align = "justify" class="data-viz__text-desc">The visual representation is intentionally inappropriate, overly complex and/or too cluttered for the audience. The source and provenance of the data is not clear to the viewer. The data has been transformed, filtered, or processed without normalization in an intentionally misleading way</p>
    <p align = "justify" class="data-viz__text-desc">The Visualization deceives audience in many ways. The name and count for number of deaths in each state is not at all shown. It tries to project Eastern US as Dangerous, but the reality may be different as the data is not normalized using population</p>  
</section>