<section class="home__container" id="about">
    <h1 class="home__text">Vineeth Myneedi</h1>
    <img src="../img/vineeth.jpeg" alt="My display picture" height="300" width="300">
    <div>
        <p align="justify">I am Vineeth Myneedi, a Master of Science in Computer Science at University of Illinois at Chicago. Earlier, I finished my bachelors in the Mechanical Engineering at Indian Institute of Technology Tirupati.</p>
        <p align="justify">I am the biggest cricket fan. I also watch Movies in my free time. I admire Mahendra Singh Dhoni and Nandamuri Taraka Ramarao Jr, they have inspired me in lot of ways. </p>
    </div>
 </section>